block variables
    -
        var title = "ideaa"
        var description = "One page website template"
        var keywords = ["html", "css", "javascript", "sass", "pug"]
        var url = "https://i7zaari.github.io/ideaa/"
        var type = "website"
        var image = "https://raw.githubusercontent.com/i7zaari/ideaa/master/src/images/etc/preview.jpg"

doctype
html(lang="en")
    head
        meta(
            charset="UTF-8"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(
            name="theme-color"
            content="#ffffff"
        )
        link(
            rel="icon"
            href="/src/images/logo/logomark.svg"
        )
        link(
            rel="stylesheet"
            href="/src/sass/style.sass"
        )
        link(
            rel="canonical"
            href=url
        )
        title !{title}
        meta(
            name="description"
            content=description
        )
        meta(
            name="keywords"
            content=keywords.join(", ")
        )
        meta(
            name="author"
            content="Hamza Zaari"
        )
        meta(
            property="og:url"
            content=url
        )
        meta(
            property="og:type"
            content=type
        )
        meta(
            property="og:image"
            content=image
        )
        meta(
            property="og:title"
            content=title
        )
        meta(
            property="og:description"
            content=description
        )
        meta(
            name="twitter:url"
            content=url
        )
        meta(
            name="twitter:card"
            content="summary_large_image"
        )
        meta(
            name="twitter:image"
            content=image
        )
        meta(
            name="twitter:title"
            content=title
        )
        meta(
            name="twitter:description"
            content=description
        )
    body
        block header
        block main
        block footer
        block scripts